<div>
    <h1>Una invitación a sentirse mejor</h1>
    <p>Quiero ayudarte a encontrar tu mejor versión y a constriur un cuerpo sano, con planes pensados para vos. Entrena sin perder el tiempo, con una rutina eficiente adaptada a tu cuerpo y a tus objetivos</p>
    <h2>Mi Misión:</h2>
    <p>Ayudar al bienestar personal y generar un cambio positivo y de superación en mis alumnos, contribuyendo positivamente en su salud y calidad de vida.</p>
</div>