<div>
    <h1>Conocerte es el primer paso...</h1>
    <p>Llená el formulario para que pueda conocer más de tu tipo de cuerpo, tus objetivos y tu estilo de vida, para crear un plan que se adecúe a vos.</p>
    <a href="">LLENAR FORMULARIO</a>
</div>