<footer>
    <h1>Contacto</h1>
    <section>
        <h4>PHONE</h4>
        <p>54 9 3576 46-5009</p>
    </section>
    <section>
        <h4>EMAIL</h4>
        <p>Sanchezedu@gmail.com</p>
    </section>
    <section>
        <h4>SOCIAL</h4>
        <img src="" alt="Instagram Logo">
        <p>Edu.profefitness</p>
    </section>
</footer>