<div>
    <img src="/heroImage.png" alt="Profe Edu Fitness">
    <img src="/heroDeco.png" alt="Deco Placeholder">
    <img src="/heroLogo.png" alt="Profe Edu Logo">
    <p>Registrate para obtener contenido exclusivo y planes personalizados que te ayuden a convertirte en tu mejor versión</p>
    <a href="">REGISTRARTE</a>
</div>