<div>
    <h1>Elije tu objetivo de entrenamiento</h1>
    <img src="" alt="Lifting">
    <section>Definir músculo</section>
    <img src="" alt="Running">
    <section>Quemar grasa y bajar de peso</section>
    <img src="" alt="Cardio">
    <section>Sentirme sano</section>
</div>