<div>
    <img src="/heroDeco.png" alt="Deco Placeholder">
    <section>
        <h2>Método de pago</h2>
        <button>
            MÉTODO DE PAGO 1
        </button>
        <button>
            MÉTODO DE PAGO 2
        </button>
        <button>
            MÉTODO DE PAGO 3
        </button>
    </section>
</div>